.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache/
.tox/
.nox/
.hypothesis/
.idea/
.vscode/
*.suo
*.nox/
*.egg
*.egg-info/
dist/
build/
